@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loader div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #004e5f;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
}